@import "tailwindcss";

@layer base {
    body {
        @apply bg-gray-900 text-white selection:bg-indigo-300 selection:text-neutral-800
    }
    h1 {
        @apply text-4xl font-bold
    }
    h2 {
        @apply text-2xl
    }
    p {
        @apply text-xl 
    }
    a {
        @apply bg-white p-2 font-bold rounded-md text-slate-800 block w-20 hover:bg-zinc-200 text-center text-xl
    }
    button {
        @apply hover:cursor-pointer block
    }
    article {
        @apply border-3 rounded-md text-lg
    }
    th, td {
        @apply  border-b rounded-md py-1 px-2
    }
    table {
        @apply md:w-max text-sm md:text-base
    }
    thead {
        @apply [&>*:nth-child(odd)]:bg-gray-700
    }
    tbody {
        @apply [&>*:nth-child(even)]:bg-gray-700 [&>*:nth-child(odd)]:bg-gray-800
    }
}

@layer components {
    .filterIcon {
        @apply inline top-4.5 sm:top-1.25 md:top-1.5 absolute left-1.5
    }

    .cardButton {
        @apply bg-slate-700 hover:bg-slate-500 w-full h-full text-left p-2 disabled:hover:bg-slate-700 hover:cursor-pointer disabled:cursor-default
        
    }

    .timer {
        @apply mt-8 flex items-center gap-1 justify-center
    }

    .main {
        @apply xl:grow xl:max-w-200 xl:mx-auto md:w-fit md:mx-auto
    }

    .mainDivContainer {
        @apply mx-5 sm:mx-9 xl:flex xl:gap-8 xl:justify-between
    }

    .nextQuiz {
        @apply absolute left-1 top-1 p-1 w-fit opacity-70
    }

    .textCard {
        @apply max-w-fit md:max-w-158.5 border-3 border-gray-400 rounded-md p-2 bg-slate-700
    }
}