@import "tailwindcss";

@layer base {
    body {
        @apply bg-gray-800 text-white
    }
    h1 {
        @apply text-4xl font-bold
    }
    h2 {
        @apply text-2xl
    }
    p {
        @apply text-xl
    }
    a {
        @apply bg-white p-2 font-bold rounded-md text-slate-800 block w-20 hover:bg-zinc-200 text-center text-xl
    }
    article {
        @apply border-2 p-2 rounded-md text-lg
    }
    button {
        @apply hover:cursor-pointer block w-full text-left
    }
    table, th, td {
        @apply border-collapse border-2 py-1 px-4 rounded-md
    }
}