@import "tailwindcss";

@layer base {
    body {
        @apply bg-gray-800 text-white
    }
    h1 {
        @apply text-4xl font-bold
    }
    h2 {
        @apply text-2xl
    }
    p {
        @apply text-xl
    }
    a {
        @apply bg-white p-2 font-bold rounded-md text-slate-800 block w-20 hover:bg-zinc-200 text-center text-xl
    }
    article {
        @apply border-2 p-2 rounded-md text-lg
    }
    button {
        @apply hover:cursor-pointer block w-full text-left
    }
    th, td {
        @apply border-collapse border-2 rounded-2xl py-1 px-4 
    }
    table {
        @apply md:w-max
    }
}

@layer components {
    .filterIcon {
        @apply inline top-4.5 md:top-1.5 absolute left-1.5
    }

    .timer {
        @apply mt-8 flex items-center gap-1 justify-center
    }

    .main {
        @apply xl:grow xl:max-w-200 xl:mx-auto md:w-fit md:mx-auto
    }

    .mainDivContainer {
        @apply mx-9 xl:flex xl:gap-4 xl:justify-between
    }

    .nextQuiz {
        @apply absolute left-1 top-1 p-1 w-fit opacity-70
    }
}