@import "tailwindcss";

@layer base {
    body {
        @apply bg-gray-800
    }
    h1 {
        @apply text-4xl font-bold text-white
    }
    p {
        @apply text-white text-xl
    }
    a {
        @apply bg-white p-2 font-bold rounded-md text-slate-800 block w-20 hover:bg-zinc-200 text-center text-xl
    }
}